*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100%;
    padding: 30px 0;
    overflow: hidden;
}

header{
    width: 100%;
    height: 725px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/ingenieriadesoftware-l-.jpg);
    background: linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/ingenieriadesoftware-l-.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: static;
}

nav{
    background:rgba(42, 64, 118, 0.7);;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
}

nav>a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
    font-size: 20px;
}

.text-header{
    display: flex;
    height: 385px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}

.text-header h1{
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 0px;
    text-transform: uppercase;
}

.text-header h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 35%;
    padding-bottom: 10px;
}

.text-header button{ 
    color: #2e5fd1;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 25px;
    margin-top: 30px;
}
.wave-one{
    position: relative;
    background: url(../img/wave.svg);
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    
}

.title-into-wave{
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.wave-one p{
    color: #fff;
    text-align: center;
    width: 60%;
    padding-left: 40%;
    
}


.main-us{
    margin-right: 0;
}
section.container.about-us {
    padding-bottom: 100px;
    background-color: #1c4caa;
}
.dicen-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dicen-int{
    text-align: center;
    padding-top: 15px;
}

.dicen-int img{
    width: 190px;
    height: 190px;
    border-radius: 100%;
}

.dicen-int h3{
    margin: 10px;
    color: #fff;
}
 
.dicen-int p{
    color: #fff;
    padding-left: 30px;
}


section.container.laboratory{
    background-color: #fff;
    height: 400px;
    width: 100%;   
}

.container.about-us{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-about-us{
    width: 370px;
    height: 370px;
    border-radius: 100%;
    padding: 15px;
    padding-right: 20px; 
}

.content-text h2{
    color: blue;
    text-transform: uppercase;
    font-size: 40px;
}
.content-text p{
    color: blue;
    width: 600px;
}

.content-text button{
    color: #fff;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border: 0px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: blue;
}

.wave-two{
    background: url(../img/wave1.svg);
    width: 100%;
    height: 430px;
    background-size: 100%, 100%;
    background-repeat: no-repeat;

}

.wave-two h2{
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding-top: 15%;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.wave-two p{
    color: #fff;
    text-align: center;
    width: 70%;
    padding-left: 30%;
}

section.container.Estadistica {
    background-color: #1c4caa; 
    padding-top: 20%;
    margin-top: -175px;
    display: flex;
    padding: 18%;
    padding-left: 25%;
}
.pa{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-color: #fff;
    border: 3px solid;
    color: #fff;
    margin-left: 20px;
    margin-top: -120px
}

section.container.Estadistica p{
    font-size: 55px; 
    text-align: center;
    padding-top: 29px;

}

.container{
    display: flex;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 30px;
}

.img-about{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.cont-text{
    padding-right: 20px;
    padding-top: 40px;
}
.cont-text h2{
    font-family: fantasy;
    color: blue;
    text-transform: uppercase;
    font-size: 40px;
}
.cont-text p{
    color: blue;
    font-size: 25px;
}
.cont-text button{
    color: #fff;
    padding: 10px 100px 10px 100px;
    border-radius: 30px;
    border: 0px;
    font-size: 36px;
    margin-top: 24px;
    /* margin-bottom: 13px; */
    background-color: blue;
}

.container.phoebe{
    padding-right: 30px;
    padding-left: 30px;
} 
 
.jaus{
    background: linear-gradient(to right, hsla(239, 89%, 33%, 0.52), hsla(240, 96%, 36%, 0.47)), url(../img/uatf.jpg);
    width: 100%;
    height: 796px;
    background-size: cover
     
}

.img-fot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
     
}
.text{
    color: #fff;
    text-align: center;
}
.text p{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 30px;
    padding-top: 50px;
}
.text h2{
    font-size: 50px;
    padding-top: 30px;
    font-family: initial;
}

.wave-true{
    position: relative;
    background: url(../img/wave2.svg);
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    margin-top: -30px;
}
.wave-true h2{
    color: blue;
    text-align: center;
    padding-top: 110px;
    font-family: initial;
    font-size: 55px;
    text-transform: uppercase;
}
.wave-true p{
    color: blue;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 22px;
    padding-top: 10px;
}
section.container-contactos {
    padding-top: 80px;
}
section.container-contactos form{
    text-align: center; 
}
  



.wave-four{
    background: url(../img/wave\ 3.svg);
    height: 290px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    margin-top: 15%;
}
.for{ 
    border-radius: 15px;
    text-align: center; 
}
.for-tex{
    width: 25%;
    height: 50px;
    border-radius: 5px;
    background-color: darkgrey;
}
.boton{
    width: 10%;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-family: initial;
    border-radius: 25px;
    margin-left: -25px;
    background-color: blue;
}
 

footer{
    background-color: black;
    width: 100%;
    color: #fff;
    display: flex;
}
.container-footer-all{
    width: 100%;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding: 20,0,0,0;
    padding-top: 10%;
    padding-bottom: 10%;
    justify-content: space-evenly;
}
 
 

 .colum1{
     max-width: 300px;
     padding-left: 30px;
    padding-right: 30px;
 }
 .colum1 h2{
     font-size: 25px;
 }

 .colum1 p{
     font-size: 20px;
     margin-top: 20px;
 }
.colum1 img{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}
 .colum2{
    max-width: 250px;
    padding-left: 20px;
    padding-right: 25px;
 }
 .row{
     margin-top: 15px;
    
 }

 .colum3{
    max-width: 250px; 
    padding-left: 20px;
    padding-right: 25px;
 }

 .colum4{
    max-width: 250px;
    padding-left: 20px;
    padding-right: 25px;
 }

 .container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.copyright{
    color: #c7c7c7;
}

.copyright a{
     text-decoration: none;
     color: white;
     font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #c7c7c7;
}